.teste {
  /* background-color: blue; */

max-width: 900px;
  height: 400px;
  margin: 0 auto;
  border-radius: 8px;
  border: 2px solid #9193a8;
  margin-top: 50px;
  padding: 15px;
  overflow: hidden;
  background-color: #26273b;
  /* background-color: #141526; */
}
#textContainer {
  display: flex;
  flex-wrap: wrap;
  font-family: "Fira code";
  font-size: 1.5rem;
  gap: 2px;
  overflow: hidden;
}

.palavra {
  display: flex;
  height: max-content;
  gap: 2px;
  border-bottom: 1px solid #c1c1c1;
}

.letraText {
  padding: 3px 1px;
  background-color: transparent;
  border-radius: 4px;
  min-width: 15px;
  text-align: center;
  color: white;
}

.rightLetra {
  color: var(--verdeRight);
  background-color: var(--verdeBackground);
}

.wrongLetra {
  color: var(--vermelhoWrong);
  background-color: var(--vermelhoBackground);
}
.currentLetra {
  color: var(--azulActive);
  position: relative;
}

.currentLetra::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  animation: animeLetra 2.5s infinite ease-in;
}

@keyframes animeLetra {
  0%,
  100% {
    opacity: 1;
    background-color: var(--azulActive);
  }
  50% {
    opacity: 0;
    background-color: transparent;
  }
}
